@charset 'utf-8';

/* Inner */
.inner {
  width: 140rem;
  margin: 0 auto;
  /* background: rgba(255, 255, 0, 0.3); */
}

.inner-wide {
  width: 160rem;
}

/* Header */
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

#header nav {
  height: 9.5rem;
  /* background: #5f5; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.logo a {
  display: block;
  width: 17rem;
  height: 2.4rem;
  /* background: #000; */

  background: url(../img/logo.svg) no-repeat 0 0 / contain;
}
.gnb {
  display: flex;
  margin-right: auto;
  margin-left: 6.5rem;
}
.gnb li a {
  display: block;
  /* border: 1px solid #000; */
  padding: 1rem 2.5rem;

  font-weight: 600;
  color: #fff;
}
.util {
  display: flex;
}
.util .btn-lang {
  width: 5.5rem;
  height: 2.5rem;
  background: url(../img/ico-lang.svg) no-repeat 0 0 / contain;
}
.util .btn-menu {
  width: 2.5rem;
  height: 2.5rem;
  background: url(../img/ico-menu.svg) no-repeat 0 0 / contain;
}

/* Section 001 : visual | 비주얼영역 */
.visual {
  height: 108rem;
  /* background: skyblue; */
  position: relative;
  overflow: hidden;
}
.visual .inner {
  position: relative;
  height: 100%;
}

.video {
  /* visual은 video의 틀로서 작동함. 영상의 크기는 1920*1080의 크기이고 보여지는 캔버스의 크기가 늘어나 줄어든다 할지라도 영상 자체의 크기가 줄거나 하지 않음 */
  /* width 100%, height 100%로 비디오 크기를 주면, 줄어든 캔버스의 크기에 따라 영상의 크기도 같이 줄어듬 */
  width: 192rem;
  height: 108rem;

  /* border: 1rem solid #000; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.3);
}
.video::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.video iframe {
  width: 100%;
  height: 100%;
}
.visual-con {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  /* background: #55f; */
  width: 100%;
}

.visual-con::after {
  content: '';
  display: block;
  width: 100%;
  width: 80.7143%; /* (1130/1400*100) */
  height: 1px;
  background: #fff;

  position: absolute;
  bottom: 1.2rem;
  right: 0;
}
.visual-con h2 {
  font-weight: 700;
  font-size: 7rem;
  color: #fff;
  line-height: 1.2142;
  letter-spacing: -0.25px;
}

.visual-con a {
  font-weight: 600;
  font-size: 1.8rem;
  color: #fff;

  position: absolute;
  bottom: 2rem;
  right: 0;

  display: flex;
  gap: 1.5rem;
  align-items: center;

  /* background: #5f5; */
}

.visual-con a::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: url(../img/ico-arr-w.svg) no-repeat 50% / cover;
}

.sec-title {
  /* background: khaki; */
  font-weight: 700;
  color: var(--title-color);
}
.sec-title h3 {
  font-size: 2.4rem;

  display: flex;
  /* background: #ff5; */
  gap: 0.9rem;
  align-items: flex-end;
}
.sec-title h3::after {
  content: '';
  display: block;
  width: 13rem;
  height: 1px;
  /* background: #9c9c9c; */
  margin-bottom: 0.5rem;
}
.sec-title p {
  font-size: 4.8rem;
  line-height: 1.4;
  margin-top: 4.5rem;
}

/* Section 002 : business | 사업 분야 */
.business {
  padding: 17rem 0 9rem;
}

.business-list {
  display: flex;
  margin-top: 7rem;
}
.business-list li {
  /* border: 1px solid #000; */
  height: 37rem;
  flex: 1 1 20%;

  background: no-repeat 0 0 / cover;

  transition: 0.4s;
}

.business-list li:nth-child(1) {
  background-image: url(https://www.hwaseunggroup.com/kor/assets/img/main/busi_con01.png);
}
.business-list li:nth-child(2) {
  background-image: url(https://www.hwaseunggroup.com/kor/assets/img/main/busi_con02.png);
}
.business-list li:nth-child(3) {
  background-image: url(https://www.hwaseunggroup.com/kor/assets/img/main/busi_con03.png);
}
.business-list li:nth-child(4) {
  background-image: url(https://www.hwaseunggroup.com/kor/assets/img/main/busi_con04.png);
}
.business-list li:nth-child(5) {
  background-image: url(https://www.hwaseunggroup.com/kor/assets/img/main/busi_con05.png);
}
/* hover */
.business-list li:hover {
  flex: 1 1 30%;
}
.business-list li:not(:hover) {
  flex: 1 1 17.5%;
}

.business-list li a {
  display: flex;
  /* border: 1px solid #f00; */
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 2.7rem;
  /* background: skyblue; */

  font-weight: 600;
  font-size: 2.6rem;
  color: #fff;
}

/* Section 003 : pr | PR Room */
.pr {
  padding: 8rem 0 10rem;
}
.pr-list {
  display: flex;
  gap: 2rem;
  margin-top: 7rem;
}
.pr-list li {
  border: 1px solid #000;
  height: 50.2rem;
  flex: 1 1 30%;
}
.pr-list li a {
  display: block;
  padding: 2.7rem;
  width: 100%;
  height: 100%;
  background: pink;
  font-weight: 700;
  font-size: 2.6rem;
  color: #fff;
}

/* Section 004 : management | 지속가능경영 */
.management {
  background: #f3f3f3;
  padding: 8rem 0 10rem;
}
.management-list {
  background: tomato;
  height: 36.8rem;
}

/* Section 005 : heritage | Heritage of Hwaseung */
.heritage {
  padding: 18rem 0 19rem;
}

.heritage-con {
  background: #5f5;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}
.heritage-con h4 {
  font-weight: 900;
  font-size: 7.2rem;
  color: var(--title-color);
}
.heritage-con strong {
  font-weight: 600;
  font-size: 3.6rem;
  color: var(--title-color);
  margin-top: 6rem;
}
.heritage-con p {
  margin-top: 4rem;
  font-size: 2.4rem;
}
.heritage-con a {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--title-color);
  margin-top: 8.2rem;

  /* 교차축 방향으로 아이템을 개별 배치  */
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.heritage-con a::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: url(../img/ico-arr.svg) no-repeat 100% 0;
}

#footer {
  padding: 11.6rem 0 13.3rem;
  background: url(https://www.hwaseunggroup.com/kor/assets/img/common/footer_bg_.png) no-repeat 0 0 / cover fixed;
}
.foot-links {
  border: 1px solid #f00;
  display: flex;
  justify-content: space-between;
}
.foot-menu {
  background: #5f5;
}
.foot-menu ul {
  display: flex;
  gap: 6rem;
}
.foot-menu ul li {
  border: 1px solid #ff0;
}
.foot-menu ul li dl dt {
  font-weight: 600;
  font-size: 2.2rem;
  color: #fff;
}
.foot-menu ul li dl dd {
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 1.89;
  color: rgba(255, 255, 255, 0.5);
}
.foot-menu ul li dl dd:first-of-type {
  margin-top: 3.6rem;
}
.foot-family {
  background: #55f;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* aife */
}
.family-site {
  border: 1px solid #fff;
  width: 28.6rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* appearance: none; */
}
.family-site select {
  background: transparent;
  color: #fff;
  appearance: none;
  padding: 0 1.5rem;
  flex: 1 1 auto;
  outline: none;
}
.family-site select option {
  background: #333;
}
.family-site::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: #f00;
}
.foot-copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 200;
  margin-top: 7rem;
  padding-top: 3.2rem;
  text-align: center;
  font-size: 1.4rem;
  color: #fff;
}

.policy-list {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
}
.policy-list li a {
  font-weight: 500;
  font-size: 1.6rem;
  color: #fff;
}

.sns-list {
  margin-top: 12.6rem;
}
.sns-list > a {
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  background: #f00 no-repeat 50%;
}
.sns-list > a.instagram {
  background-image: url(../img/ico-instagram.svg);
}

/* .inner 크기와 같은 분기점 생성 */
@media (max-width: 1600px) {
  .inner,
  .inner-wide {
    width: 92.4rem;
    width: 90.2344%;
  }

  .foot-menu {
    gap: 7rem;
  }
}

/* 태블릿 디자인 */
@media (max-width: 1024px) {
  /* .inner,
  .inner-wide {
    width: 92.4rem;
    width: 90.2344%;
  } */

  /*  Section 001 : visual | 비주얼영역  */
  .visual-con::after {
    width: 70.7792%;
  }

  /* Section 002 : business | 사업 분야 */
  .business-list li a {
    font-size: 1.8rem;
  }

  /* Section 003 : pr | PR Room */
  .pr-list li {
    height: 33.2rem;
  }

  /* Section 005 : heritage | Heritage of Hwaseung */
  .heritage-con {
    width: 71.4rem;
    width: 77.2727%;
    margin: 0 auto;
  }
  .heritage-con strong {
    font-size: 3.2rem;
  }
  .heritage-con p {
    font-size: 2.2rem;
  }

  /* footer */
  .foot-links {
    width: 82.4rem;
    width: 89.1775%;
    margin: 0 auto;
  }

  .foot-menu ul {
    gap: 4.4rem;
  }

  .foot-menu ul li dl dt {
    font-size: 1.8rem;
  }
  .foot-menu ul li dl dd {
    font-size: 1.6rem;
  }
  .family-site {
    width: 24rem;
    height: 3rem;
    font-size: 1.4rem;
  }
  .policy-list li a {
    font-size: 1.4rem;
  }
}

/* 문제가 발생하는 해상도를 위한 분기 */
@media (max-width: 1000px) {
  #header nav {
    justify-content: space-between;
  }
  .gnb {
    display: none;
  }
  .business-list {
    flex-wrap: wrap;
  }
  .business-list li {
    flex: 1 1 30%;
  }

  .foot-links {
    flex-direction: column;
    align-items: center;

    gap: 5rem;
  }

  .foot-family {
    align-items: center;
  }

  .sns-list {
    order: -1;
    margin-top: 0;
  }

  .family-site {
    margin-top: 4rem;
  }

  .policy-list {
    margin-top: 2.2rem;
  }

  .foot-copyright {
    margin-top: 3.8rem;
  }
}
/*모바일 디자인 */
@media (max-width: 700px) {
  :root {
    font-size: 90%;
  }

  .inner,
  .inner-wide {
    width: 350px;
    width: 89.7436%;
  }

  /* header */
  #header nav {
    height: 5.7rem;
  }

  .logo a {
    width: 8.5rem;
    height: 1.2rem;
  }

  .util .btn-lang {
    width: 3.7rem;
    height: 1.7rem;
  }

  .util .btn-menu {
    width: 1.7rem;
    height: 1.7rem;
  }

  /* Section 001 : visual | 비주얼영역 */
  .visual {
    height: 54rem;
  }
  .visual-con h2 {
    font-size: 3rem;
  }
  .visual-con a {
    font-size: 1.3rem;
    /* display: inline-block; */
    margin-top: 1.65rem;
  }

  /* common */
  #container > section:not(.visual) {
    padding: 9rem 0;
  }
  .sec-title h3 {
    font-size: 1.2rem;
  }
  .sec-title p {
    font-size: 2.2rem;
    margin-top: 2.3rem;
  }

  /* Section 002 : business | 사업 분야 */
  .business-list {
    margin-top: 5rem;
  }
  .business-list li {
    flex: 0 1 50%;
    height: 21rem;
  }
  .business-list li a {
    font-size: 1.5rem;
  }
  /* Section 003 : pr | PR Room */
  .pr-list {
    flex-wrap: wrap;
    gap: 1.2rem;
  }
  .pr-list li {
    flex: 1 1 48%;
    height: 19.2rem;
  }
  .pr-list li a {
    font-size: 1.4rem;
  }
  /* Section 005 : heritage | Heritage of Hwaseung */
  .heritage-con {
    width: 100%;
  }
  .heritage-con h4 {
    font-size: 3rem;
  }
  .heritage-con strong {
    font-size: 1.6rem;
    margin-top: 3rem;
  }
  .heritage-con p {
    font-size: 1.3rem;
    margin-top: 3rem;
  }
  .heritage-con a {
    /* background: #55f; */
    font-size: 1.3rem;
    width: 28.4rem;
    width: 81.1429%;

    height: 3.8rem;
    border: 1px solid #000;
    border-radius: 5rem;
    justify-content: center;
    padding: 1rem 1rem;

    align-self: initial; /* 초기화 */
    /* align-self: unset; */

    margin-top: 4.6rem;
  }

  /* footer */
  #footer {
    padding: 6.3rem 0 8rem;
  }
  .foot-menu {
    display: none;
  }
  .foot-links {
    width: 19.4rem;
    width: 55.4286%;
    display: block;
  }
  .family-site {
    width: 100%;
    height: 3.5rem;
  }
}

@media (max-width: 500px) {
  :root {
    font-size: 62.5%;
  }

  .visual-con::after {
    width: 62%;
  }

  .visual-con a {
    bottom: -30px;
    left: 0;
    right: auto;
  }
}
